.nav-link{
    color: #666;
    font-size: .9rem;
    transition: color .3s;
    display: inline-block;
    padding: 0 20px;
    box-sizing: border-box;
    font-family:'Inter, serif';
    cursor: pointer;
}
button{
    background-color: #387ed1;
    color: #fff;
    border: 1px solid rgba(0, 0, 0, 0) !important;
    border-radius: 3px;
    display: inline-block;
    padding: 10px 30px;
    text-align: center;
    font-size: 1.2em;
    line-height: 1.2em;
    font-weight: 500;
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    box-sizing: border-box;
}
.menu{
    width: 20px;
  height: 2px;
  background-color: #424242;
  margin: 4px 0;
  border-radius: 9px;
  opacity: 1;
}
a{
    color: #387ed1;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
}
.icon{
    margin-right:40px;
    height: 40px;
    cursor: pointer;
}
.footer-heading{
    color: rgb(66, 66, 66);
font-family: Inter, serif;
font-size: 18px;
font-weight: 500;
line-height: 36px;
list-style-type: none;
margin-bottom: 10px;
text-align: left;
text-size-adjust: 100%;
unicode-bidi: isolate;
}
.footer-sub{
    color: rgb(102, 102, 102);
font-family: Inter, serif;
font-size: 16px;
font-weight: 500;
cursor: pointer;
}